[submodule "extern/glow"]
	path = extern/glow
	url = https://graphics.rwth-aachen.de:9000/Glow/glow
[submodule "extern/polymesh"]
	path = extern/polymesh
	url = https://graphics.rwth-aachen.de:9000/ptrettner/polymesh
[submodule "extern/glow-extras"]
	path = extern/glow-extras
	url = https://graphics.rwth-aachen.de:9000/Glow/glow-extras
[submodule "extern/typed-geometry"]
	path = extern/typed-geometry
	url = https://graphics.rwth-aachen.de:9000/ptrettner/typed-geometry
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://graphics.rwth-aachen.de:9000/ptrettner/imgui-lean
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/eigen-lean"]
	path = extern/eigen-lean
	url = https://www.graphics.rwth-aachen.de:9000/ptrettner/eigen-lean.git
[submodule "extern/libigl"]
	path = extern/libigl
	url = https://github.com/libigl/libigl
[submodule "data"]
	path = data
	url = https://www.graphics.rwth-aachen.de:9000/born/layout-embedding-data.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
